<section class="thirteen columns">
    <h1>Activities</h1>
    <article>
        <header>
            <h1>Head of the <a href="https://sciences-technologies.univ-lille.fr/informatique">Department of Computer Science</a></h1>
            <span><address><a href="https://www.univ-lille.fr">University of Lille, France</a></address><time>2024 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Member of the <a href="http://team.inria.fr/spirals">Spirals research group</a></h1>
            <span><address><a href="http://cristal.univ-lille.fr">CRIStAL</a> &amp; <a href="http://www.inria.fr/lille">Inria, France</a></address><time>2015 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Chair of <a href="http://sigops-france.fr">ACM Sigops France (ASF)</a></h1>
            <span><address><a href="http://sigops-france.fr">ACM Sigops French chapter</a></address><time>2016 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Jury of the <a href="https://agreg-info.org">External Agrégation of Computer Science</a></h1>
            <span><address><a href="https://www.devenirenseignant.gouv.fr/enseigner-dans-les-classes-preparatoires-au-college-ou-au-lycee-et-dans-les-etablissements-de-142">Ministère de l'Éducation Nationale et de la Jeunesse, France</a></address><time>2023 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Member of the <a href="https://cn6.fr">CoNRS Section 6</a></h1>
            <span><address><a href="https://www.cnrs.fr/comitenational/accueil.html">Comité national de la recherche scientifique, CNRS, France</a></address><time>2020 to present</time></span>
        </header>
    </article>
</section>
