<section class="thirteen columns">
    <h1>Activities</h1>
    <article>
        <header>
            <h1>Head of the <a href="http://fil.univ-lille1.fr/presentation-du-master-informatique">Master of Computer Science</a></h1>
            <span><address><a href="http://fil.univ-lille1.fr">University of Lille, France</a></address><time>2016 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Member of the <a href="http://team.inria.fr/spirals">Spirals research group</a></h1>
            <span><address><a href="http://cristal.univ-lille.fr">CRIStAL</a> &amp; <a href="http://www.inria.fr/lille">Inria, France</a></address><time>2015 to present</time></span>
        </header>
    </article>
</section>
