<section class="thirteen columns">
    <h1>Positions</h1>
    <article>
        <header>
            <h1>Full Professor of Computer Science</h1>
            <span><address><a href="http://www.univ-lille1.fr">University of Lille, France</a></address><time>2016 to present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Junior fellow</h1>
            <span><address><a href="http://www.iufrance.fr">Institut Universitaire de France</a></address><time>2016 to 2021</time></span>
        </header>
    </article>
</section>
