<section class="thirteen columns">
    <h1>Research</h1>
    <article>
        <header>
            <h1>Topics</h1>
            Software Engineering <i class="fas fa-exchange-alt"></i> Distributed Systems
        </header>
    </article>
    <article>
        <header>
            <h1>Publications</h1>
            <span><a href="https://scholar.google.fr/citations?user=U3217h0AAAAJ&hl=fr"><i class="ai ai-google-scholar-square"></i> Scholar</a> -
                <a href="https://cv.archives-ouvertes.fr/romain-rouvoy"><i class="ai ai-open-access"></i> HAL</a> -
                <a href="http://dblp.uni-trier.de/search/publ?q=author%3ARomain_Rouvoy%3A"><i class="ai ai-doi"></i> DBLP</a>
            </span>
        </header>
    </article>
</section>
