<section class="thirteen columns">
    <h1>Software</h1>
        <article>
            <header>
                <h1>PowerAPI</h1>
                <span><i>Building software-defined power meters</i> - <a href="http://powerapi.org">powerapi.org</a></span>
            </header>
        </article>
        <article>
            <header>
                <h1>Joule-Profiler</h1>
                <span><i>Profiling energy consumption of software services</i> - <a href="https://joule-profiler.github.io">joule-profiler.github.io</a></span>
            </header>
        </article>
</section>
